<% data.forEach(element => { %> <% if (uid != element.senderID) { %>
<div class="left messageBox">
  <div><%= element.senderID %></div>
  <% if (element.messageType == "text") { %>
  <div><%= element.message %></div>
  <% } else { %>
  <div><img src="<%= element.message %>" alt="image" /></div>
  <% } %>
</div>
<% } else { %>
<div class="right messageBox">
  <div><%= element.senderID %></div>
  <% if (element.messageType == "text") { %>
  <div><%= element.message %></div>
  <% } else { %>
  <div><img src="<%= element.message %>" alt="image" /></div>
  <% } %>
</div>
<% } %> <% }) %>
